/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css?family=Bellefair|Charm|Cormorant+Infant:600,600i&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-primary: #000;
  --color-secondary: #333;
  --color-neutral: #888;
  --color-background: #fff;
  --color-background-alt: #eaeaea;
  --color-link: hsl(197, 91%, 50%);
}
html.dark {
  --color-primary: #fff;
  --color-secondary: #ddd;
  --color-neutral: #888;
  --color-background: #222;
  --color-background-alt: #555;
  --color-link: hsl(197, 91%, 70%);;
}
html.sepia {
  --color-primary: #523d23;
  --color-secondary: #705330;
  --color-neutral: #9c8870;
  --color-background: #faf4e8;
  --color-background-alt: #ebe5db;
  --color-link: #be8417;
}

@media (min-width: 420px) { #page { font-size: 20px; } }
@media (min-width: 540px) { #page { font-size: 22px; } }
@media (min-width: 700px) { #page { font-size: 24px; } }
@media (min-width: 840px) { #page { font-size: 26px; } }
@media (min-width: 1000px) { #page { font-size: 28px; } }
@media (min-width: 1260px) { #page { font-size: 32px; } }
@media (min-width: 1390px) { #page { font-size: 34px; } }
@media (min-width: 1990px) { #page { font-size: 42px; } }

body { @apply bg-background text-primary font-normal }
a { @apply text-link }

h1,h2,h3,h4,h5,h6 { @apply mt-5 mb-3 leading-tight opacity-70 font-bold text-lg }

h2 { @apply text-xl }

h1 { @apply text-2xl }

p { @apply leading-snug mt-3 }

ul,ol { @apply pl-4 }
li { @apply list-disc list-outside }

blockquote { @apply px-6 }

input { @apply bg-background-alt }


input[type="range"] { -webkit-appearance:none; @apply h-8 w-full bg-transparent cursor-pointer; }
input[type="range"]:focus { outline:none; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply h-7 w-3 rounded border-secondary border border-solid bg-background mt-1;
}

input[type="range"]::-moz-range-track {
  opacity:0;
}
input[type="range"]::-moz-range-thumb {
  @apply h-7 w-3 rounded border-secondary border bg-background;
}

input[type="range"]::-ms-track {
  opacity:0;
}
input[type="range"]::-ms-thumb {
  @apply h-7 w-3 rounded border-secondary border bg-background;
}
